<div class="col-xs-12">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Customer</th>
            <th>Sector</th>
            <th>Customer Since</th>
            <th>Rating</th>
            <th>Loans</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="customer in customers | orderBy:sortField:sortDescending">
            <td>
                <in-place-edit field-name='name' input-type='name' input-class='input-large' model=customer>{{customer.name}}</in-place-edit>
            </td>
            <td>
                <in-place-edit field-name='sector' input-type='text' input-class='input-large' model=customer>{{customer.sector}}</in-place-edit>
            </td>
            <td>
                <in-place-edit field-name='releaseYear' input-type='text' input-class='input-small' model=customer>{{customer.releaseYear}}</in-place-edit>
            </td>
            <td>
                <in-place-edit field-name='rating' input-type='text' input-class='input-medium' model=customer>{{customer.rating}}</in-place-edit>
            </td>
            <td>
                <in-place-edit field-name='loanCount' input-type='text' input-class='input-medium' model=customer>{{customer.loanCount}}</in-place-edit>
            </td>
            <td class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li role="presentation"><a ng-click="updateCustomer(customer)">edit</a></li>
                    <li role="presentation"><a ng-click="deleteCustomer(customer)">delete</a></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
